.nav {
				width: 1920px;
				height: 138px;
				background-color: #040403;
				
			}
			
			.a1 {
				position: absolute;
				margin-left: 663px;
				margin-top: 60px;
				width: 70px;

				text-decoration: none;
				color: gray;
				font-size: 26px;
			}
			.a111 {
				position: absolute;
				margin-left: 663px;
				margin-top: 60px;
				width: 70px;

				text-decoration: none;
				color: white;
				font-size: 26px;
			}
			
			.a1:hover {
				color: white;
			}
			
			.a2 {
				position: absolute;
				margin-left: 745px;
				margin-top: 60px;
				width: 70px;
				text-decoration: none;
				color: gray;
				font-size: 26px;
			}
			
			.a2:hover {
				color: white;
			}
			
			.a3 {
				position: absolute;
				margin-left: 836px;
				margin-top: 60px;
				width: 120px;
				text-decoration: none;
				color: gray;
				font-size: 26px;
			}
			
			.a3:hover {
				color: white;
			}
			
			.a4 {
				position: absolute;
				margin-left: 959px;
				margin-top: 60px;
				width: 120px;

				text-decoration: none;
				color: gray;
				font-size: 26px;
			}
			
			.a4:hover {
				color: white;
			}
			
			.a5 {
				position: absolute;
				margin-left: 1077px;
				margin-top: 60px;
				width: 120px;

				text-decoration: none;
				color: gray;
				font-size: 26px;
			}
			
			.a5:hover {
				color: white;
			}
			
			.a6 {
				position: absolute;
				margin-left: 1205px;
				margin-top: 60px;
				width: 180px;

				text-decoration: none;
				color: gray;
				font-size: 26px;
			}
			
			.a6:hover {
				color: white;
			}
			
			.a7 {
				position: absolute;
				margin-left: 222px;
				margin-top: 250px;
				width: 230px;

				text-decoration: none;
				color: gray;
				font-size: 26px;
			}
			
			.a7:hover {
				color: white;
			}
			
			.a8 {
				position: absolute;
				margin-left: 585px;
				margin-top: 250px;
				width: 70px;
				text-decoration: none;
				color: gray;
				font-size: 26px;
			}
			
			.a8:hover {
				color: white;
			}
			
			.a9 {
				position: absolute;
				margin-left: 770px;
				margin-top: 250px;
				width: 130px;

				text-decoration: none;
				color: gray;
				font-size: 26px;
			}
			
			.a9:hover {
				color: white;
			}
			
			.a10{
				position: absolute;
				margin-left: 1038px;
				margin-top: 250px;
				width: 70px;
				text-decoration: none;
				color: gray;
				font-size: 26px;
			}
			
			.a10:hover {
				color: white;
			}
			
			.a11 {
				position: absolute;
				margin-left: 1283px;
				margin-top: 250px;
				width: 70px;
				text-decoration: none;
				color: gray;
				font-size: 26px;
			}
			
			.a11:hover {
				color: white;
			}
			
			.a12 {
				position: absolute;
				margin-left: 1476px;
				margin-top: 250px;
				width: 200px;

				text-decoration: none;
				color: gray;
				font-size: 26px;
			}
			
			.a12:hover {
				color: white;
			}
	
		.a13 {
				position: absolute;
				margin-left: 1205px;
				margin-top: 60px;
				width: 180px;
				text-decoration: none;
				color: white;
				font-size: 26px;
			}
			
			.a15 {
				position: absolute;
				margin-left: 849px;
				margin-top: 28px;
				width: 120px;

				text-decoration: none;
				color: gray;
				font-size: 30px;
			}
			
			.a15:hover {
				color:black;
				font-weight:600 ;
				
			}
			.a16 {
				position: absolute;
				margin-left: 1130px;
				margin-top: 28px;
				width: 120px;

				text-decoration: none;
				color: gray;
				font-size: 30px;
			}
			
			.a16:hover {
				color: black;
				font-weight:600 ;
				
			}